<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8" />

  <title>Buehler</title>
</head>
<body>
  <div class="p-7">
    <div is="app"></div>
  </div>

  <!-- <div is="wikidata-fly-in"></div> -->
</body>
</html>
