[is='app'] {
  position: relative;
  width: 750px;
  margin: 0 auto;

  // .watchlist-controls {
  //   position: absolute;
  //   left: -200px;
  //   right: -400px;
  // }

}


a {
  cursor: pointer;
}

register {
  a {
    margin-right: 10px;
  }
}

dfk-input[name='search'] {
  max-width: 300px;
}

watchlist-nav {
  margin-left: -2px;

  display: flex;
  justify-content: start;

  a {
    margin-right: 2rem;

    dfk-icon {
      margin-top: 0px;
      width: auto !important;
    }

    .label {
      width: 80px;
    }
  }

  a.clear {
    dfk-icon {
      color: $tag-gray;
    }
  }
}

.instruction {
  dfk-icon {
    vertical-align: middle;
    color: #ababab;
  }
}

[is=wikidata-fly-in] {
  h2 {
    margin-top: 2em;
  }

  a {
    cursor: pointer;
  }
}

[is='search-result'] {
  position: relative;
}

watchlist-toggle {
  display: inline-block;
  position: absolute;
  left: -55px;
  top: 16px;
}

[is=popup] {
  &.open {
    width: 60vw;
  }

  .close-button {
    position: absolute;
    top: 50px;
    right: 50px;
  }

  .header {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;

    h1 {
      margin-top: 20px;
    }

    .controls {
      margin-top: 35px;
      margin-right: -45px;
      display: flex;
      justify-content: end;
      align-items: start;
      font-size: 0.8em;

      a {
        display: flex;
        justify-content: end;
        margin-left: 1.5em;
        text-decoration: none;

        dfk-icon {
          width: 20px;
          margin-top: 3px;
          margin-right: 1em;

          svg {
            width: 20px;
            height: 20px;
          }
        }
      }

      a:nth-child(1) {
        width: 170px;
      }

      a:nth-child(2) {
        width: 100px;
      }

      a:nth-child(3) {
        width: 80px;
      }
    }
  }
}

@keyframes disappear {
  0% {
    opacity: 1;

    width: 60vw;
    height: auto;
    overflow-y: auto;
  }

  100% {
    opacity: 0;

    width: 60vw;
    height: auto;
    overflow-y: auto;
    box-shadow: none;
  }
}

live-search {
  textarea {
    min-height: 150px;
  }

  ul {
    padding-left: 0 !important;
    box-sizing: border-box;
    position: absolute;
    margin-left: 0;
    margin-top: -1px;
    z-index: 1000;
    max-height: 0;

    transition: max-height 0.3s ease-out;
  }

  ul.show {
    max-height: 300px;
    background-color: white;
    border: 1px solid gray;
  }

  li {
    display: flex;
    flex-direction: row;
    user-select: none;
    cursor: pointer;

    mark {
      background-color: inherit;
      color: $dfk-green;
    }
  }

  li.selected {
    background-color: #efefef;
  }
}
